#此配置文件以#号作为注释
#
#
#
#
#语言默认为zh-CN
Language:zh-CN

#Name为发音员,默认为XiaoxiaoNeural
#Name:XiaoxiaoNeural
#XiaoxiaoNeural     #晓晓
#XiaoyouNeural      #晓悠
Name:YunxiNeural        #云希
#-SC-YunxiNeural    #云希
#

#volume为音量,默认为100,区间[0，100]
volume:100

#rate为语速,默认为0,区间[-100,200]
rate:0

#pitch为音调,默认为0,区间[-50，50]
pitch:0

#path为保存音频路径，默认为当前目录下的mp3文件目录下
path:./mp3/

