name: Go

on:
  push:
    branches: 
      - master
    paths:
      - 'CHANGELOG.md'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Mkdir release
      run: |
        mkdir release

    - name: Get TAG
      run: |
        echo "tts_tag=$(sed -n '1p' CHANGELOG.md)" >> $GITHUB_ENV
        sed -i '1d' CHANGELOG.md

    - name: Go build
      run: |
        CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o ./release/${{env.tts_tag}}_mac_amd64
        CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o ./release/${{env.tts_tag}}_windowns_amd64.exe
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o ./release/${{env.tts_tag}}_linux_amd64
        CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o ./release/${{env.tts_tag}}_linux_arm64
        CGO_ENABLED=0 GOOS=android GOARCH=arm64 go build -o ./release/${{env.tts_tag}}_termux_arm64


        ls ./release/

    - name: Upload App To Artifact
      uses: actions/upload-artifact@v3
      with:
          name: ${{env.tts_tag}}
          path: ${{ github.workspace }}/release/*

    - name: Release
      uses: softprops/action-gh-release@cd28b0f5ee8571b76cfdaa62a30d51d752317477
      with:
          name: ${{ env.tts_tag }}
          tag_name: ${{ env.tts_tag }}
          body_path: ${{ github.workspace }}/CHANGELOG.md
          draft: false
          prerelease: false
          files: ${{ github.workspace }}/release/*
      env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}



